.row{
    height: auto;
    width: auto;
    background: black;
    font-family: magneto;  
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.date{
    height: auto;
    width: auto;
    border: 2px ridge white;
    color: white;
    padding: 20px;
}